<div class="row justify-content-center">
    <div class="card col-md-6 mt-5">
        <div class="card-body">
            <h1 class="card-title">Cadastro</h1>

            <form (ngSubmit)="register()" [formGroup]="registerFormGroup">
                <fieldset class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" formControlName="name" [ngClass]="{
                        'is-invalid': this.registerFormGroup.controls.name.errors && this.formSubmitted
                    }">
                    <div class="invalid-feedback"
                        *ngIf="this.registerFormGroup.controls.name.errors && this.formSubmitted">
                        <div *ngIf="this.registerFormGroup.controls.name.errors?.required">Campo nome é necessário.</div>
                    </div>
                </fieldset>


                <fieldset class="form-group">
                    <label>Número</label>
                    <input type="text" class="form-control" placeholder="(00) 0 0000-0000"
                        formControlName="contactNumber" [ngClass]="{
                            'is-invalid': this.registerFormGroup.controls.contactNumber.errors && this.formSubmitted
                        }">
                    <div class="invalid-feedback"
                        *ngIf="this.registerFormGroup.controls.contactNumber.errors && this.formSubmitted">
                        <div *ngIf="this.registerFormGroup.controls.contactNumber.errors?.required">Campo telefone é
                            necessário.</div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Tipo</label>
                    <select class="form-control" formControlName="contactType" [ngClass]="{
                        'is-invalid': this.registerFormGroup.controls.contactType.errors && this.formSubmitted
                    }">
                        <option *ngFor="let contactType of contactTypes" value="{{contactType.id}}">{{contactType.type}}
                        </option>
                    </select>
                    <div class="invalid-feedback"
                        *ngIf="this.registerFormGroup.controls.contactType.errors && this.formSubmitted">
                        <div *ngIf="this.registerFormGroup.controls.contactType.errors?.required">Tipo do telefone é
                            necessário.</div>
                    </div>
                </fieldset>

                <div class="d-flex justify-content-end mt-4">
                    <button class="btn btn-outline-secondary">Cancelar</button>
                    <button type="submit" class="btn btn-primary ml-3">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>